<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<header id="header">
    <h2>Ministry of Higher Education</h2>
    <h1>Kabul Polytechnic University</h1>
    <h3>Faculty of Computer Engineering & Informatics</h3>
</header>
<br>
<section id="container">
	<h3 class="form-header">Please Sign in to the System</h3>
    <form action="#" class="form_group">
    	
    		<label>Username:</label>&nbsp;&nbsp;&nbsp;
    		<input type="text" name="username" id="uname" placeholder="Username">
    		<br><br>
    		<label>Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;
    		<input type="password" name="password" id="password" placeholder="Password">
    		<br><br>
    		<button type="submit" id="login">Sign in</button>
    		
    </form>
    <a href="#" class="remember">Change Password</a>
    		<hr>
<!-- =================Right side of form================= -->
    	<div class="right">
    		<!-- <img src=""> -->
    		<h2 class="head">Computer </h2>
            <h2 class="head">Engineering</h2>
    		<h2 class="head">& Infomratics</h2>
    		<br><br><br>
    		<br><br>
    		<a href="#" class="help">Need help?</a>
    		<br>
    		<p class="call">Call &nbsp;0772378678 or email</p>
    		<p class="email">example@gmail.com</p>
    	</div>
</section>
</body>
</body>